In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(data=[[1, 2, 3], [4, 5, 6], [7, 8, 9]], 
                  index=['a', 'b', 'c'], columns=['A','B','C'])
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

#### 5.1 增

增加一行

In [5]:
df.loc['d'] = [0, 0, 0]
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9
d  0  0  0

增加一列

In [6]:
df['D'] = [4, 7, 10, 0]
df

   A  B  C   D
a  1  2  3   4
b  4  5  6   7
c  7  8  9  10
d  0  0  0   0

#### 5.2 删除

删行一行

In [7]:
df.drop(['d'])

   A  B  C   D
a  1  2  3   4
b  4  5  6   7
c  7  8  9  10

删除一列

In [8]:
df.drop("D", axis=1)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9
d  0  0  0

删除多列

In [9]:
df.drop(['A', 'C'], axis =1)

   B   D
a  2   4
b  5   7
c  8  10
d  0   0

#### 5.3 修改

In [10]:
df.loc['a']['A'] = 666
df

     A  B  C   D
a  666  2  3   4
b    4  5  6   7
c    7  8  9  10
d    0  0  0   0

#### 5.4 查询
* loc 用label 定位
* iloc用position 定位

In [13]:
df.iloc[0]

A    666
B      2
C      3
D      4
Name: a, dtype: int64

In [12]:
df.loc["a"]

A    666
B      2
C      3
D      4
Name: a, dtype: int64

#### 5.5 拼接

In [14]:
temp = df.copy()

纵向拼接

In [15]:
pd.concat([df, temp])

     A  B  C   D
a  666  2  3   4
b    4  5  6   7
c    7  8  9  10
d    0  0  0   0
a  666  2  3   4
b    4  5  6   7
c    7  8  9  10
d    0  0  0   0

横向拼接

In [16]:
pd.concat([df, temp], axis=1)

     A  B  C   D    A  B  C   D
a  666  2  3   4  666  2  3   4
b    4  5  6   7    4  5  6   7
c    7  8  9  10    7  8  9  10
d    0  0  0   0    0  0  0   0